<!-- User info -->
<div class="login-info">
    <span> <!-- User image size is adjusted inside CSS, it should stay as is -->

        <img src="assets/images/avatars/male.png" alt="me" class="online"/>
        <span data-localize="Juan Lamadrid">
            Juan Lamadrid
        </span>

    </span>
</div>
<!-- end user info -->

<navigation>
    <nav:item data-view="/home" data-icon="fa fa-lg fa-fw fa-home" title="Dashboard"/>
    <nav:item data-view="/employees" data-icon="fa fa-lg fa-users" title="Employees"/>
    <nav:item data-view="/applications" data-icon="fa fa-lg fa-desktop" title="Applications"/>
</navigation>
<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>
